#slides{

}
body{

    font-family: Verdana;
    margin: 0;
}

footer{
    font-size: small;
    position: relative;
    float: bottom;
    bottom: 0;
    width: 100%;
    margin-bottom: -150px;
    background-color: black;
}
footer h6{
    font-weight: bold;
}
footer a{
    text-decoration: none;
    color: white;
}
footer a:hover{
    color: darkred;
}
#down{
    text-align: center;
    color: white;
}
#nav{
    text-decoration: none;
    background-color: black;

}
#nav a{
    text-decoration: none;
    color: white;
}
#nav a:hover{
    color: darkred;
}
header{
    text-align: center;
    height: 100vh;
    color: white;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("images/pexels-momo-2256259.jpg");
}

header a{
    text-decoration: none;
    color: white;
}
h1{
    font-weight: bold;
}
#center{
    text-align: center;
}
