
body{

    font-family: Verdana;
    margin: 0;
}

footer{
    font-size: small;
    position: relative;
    float: bottom;
    bottom: 0;
    width: 100%;
    margin-bottom: -150px;
    background-color: black;
}
footer h6{
    font-weight: bold;
}
footer a{
    text-decoration: none;
    color: white;
}
footer a:hover{
    color: darkred;
}
#down{
    text-align: center;
    color: white;
}
#nav{
    text-decoration: none;
    background-color: black;

}
#nav a{
    text-decoration: none;
    color: white;
}
#nav a:hover{
    color: darkred;
}
header{
    text-align: center;
    height: 100vh;
    color: white;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("images/maneki-neko-light.jpg");
}

header a{
    text-decoration: none;
    color: white;
}
h1{
    font-weight: bold;
    text-decoration: none
}

#center{
    text-align: center;
}


.firstletter:first-letter{
    font-size:2em;
    font-weight:bold;
    color: darkred;

}
#photo{
    text-align: center;
    height: 100vh;
    color: white;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("images/pizza-light.jpg");
    text-decoration: none;
}
div a{
    color: white;
    text-decoration: none;
}
.large{
    font-size: 3em;
    font-family: Verdana, fantasy;
}

@media only screen and (min-width: 600px){

    input[type="submit"]{
        grid-column: 2/3;
        width:9em;
    }
    nav ul{
        list-style-type: none;
        margin: 0;
        padding-right: 2em;
        font-size: 1.2em;
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-end;
    }
    nav li{
        display: inline;
        padding-left: 2em;
        width: 7em;
    }

}

@media only screen and (min-width: 1024px) {
    header {
        text-align: center;
        height: 100vh;
        color: white;
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url("images/maneki-neko-light.jpg");
        text-decoration: none;
        font-size: 120%;
        min-height: 200px;
    }

    nav.fixed{
        text-align: right;
        background-color: #FFFFFF;
        margin: 0;
        padding-top: 0.5em;
        padding-bottom: 1em;
        padding-right: 0;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9999;
        width: 100%;
        height: auto;
        font-weight: bold;
    }


}
